{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% translate "Зберегти книгу - BookStore" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">{% translate "Форма книги" %}</h4>
            </div>
            <div class="card-body p-4">
                <form method="post">
                    {% csrf_token %}
                    
                
                    <div class="django-form-inputs">
                        {{ form.as_p }}
                    </div>
                    
                    <div class="mt-4 d-flex gap-2">
                        <button type="submit" class="btn btn-success px-4">{% translate "Зберегти книгу" %}</button>
                        <a href="{% url 'books_list' %}" class="btn btn-outline-secondary">{% translate "Скасувати" %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    document.querySelectorAll('.django-form-inputs input, .django-form-inputs textarea').forEach(function(el) {
        if (el.type !== 'checkbox') {
            el.classList.add('form-control');
        } else {
            el.classList.add('form-check-input');
        }
    });
</script>
{% endblock %}