<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'books_list' %}">BookShop</a>
        
        <div class="navbar-nav ms-auto d-flex align-items-center">
            {% if request.user.is_authenticated %}
                
                <span class="navbar-text text-white me-3">
                    Привет, <strong>{{ request.user.username }}</strong> 
                    {% if request.user.phone %}({{ request.user.phone }}){% endif %}
                </span>
                
              
                <form action="{% url 'logout' %}" method="post" class="d-inline m-0 p-0">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger btn-sm">Выйти</button>
                </form>
            {% else %}
                
                <a class="nav-link btn btn-outline-light btn-sm text-dark me-2" href="{% url 'login' %}">Войти</a>
                <a class="nav-link btn btn-primary btn-sm text-white" href="{% url 'register' %}">Регистрация</a>
            {% endif %}
        </div>
    </div>
</nav>